section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: #e7eef3;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #00cf5d;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.btn-outline{
    color: #00cf5d !important;
    border-style: solid !important;
        border-width: 2px !important;
        padding: 15px 25px !important;
        border-radius: 4px !important;
        /* text-decoration: none; */
        
       
        border-color: #00cf5d !important;
}