 * {
     background: #0f151f;
    
 }

/* .homeBody {
    background: #0d131c;
} */

body {
    background: #0a0e14;
    overflow-x: hidden;
}
.line1{
    color: #00cf5d;
    font-size: 22px;
}
.name{
    font-size: 78px;
}
.title1{
    color: #00cf5d;
}
.title2{
    font-size: 22px;
}
button{
    border-style: solid;
        border-width: 2px;
        padding: 15px 25px;
        border-radius: 4px;
        /* text-decoration: none; */
        background-color: #00cf5d;
        color: rgba(255, 255, 255, 0.85);
            border-color: #00cf5d;
            
        
}
.footerbg{
    background: #00cf5d !important;
}
@media only screen and (max-width: 400px) {
    .img{
        width: 100% !important;
    }
}


 .scroll-to-top {
     background-color: white;
     /* right: 40px;
     bottom: 40px; */
     position: fixed;
     z-index: 2;
     cursor: pointer;
     border-radius: 60% !important;
     width: 13px !important;
     height: 60px !important;
     border: 5px solid #00cf5d !important;
     box-shadow: 0 0px 15px 0 rgb(132 128 177 / 28%) !important;
 }

 .scroll-to-top svg {

        border-radius: 295px !important;
        height: 22px !important;
        margin-top: -9px !important;
        margin-right: 15px !important;
        width: 18px !important;
        background-color: #ffff;
        fill: #00cf5d;
 }